<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join Page</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/join" method="post">
        <label for="loginId">Login ID:</label>
        <input type="text" id="loginId" name="loginId"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Join">
    </form>
    <div th:if="${error}" style="color:red" th:text="${error}"></div>
    <form action="/static" method="get">
        <button type="submit">홈페이지</button>
    </form>
    <form action="/login" method="get">
        <button type="submit">로그인</button>
    </form>
</body>
</html>
